:root {
  --white: #fffbfe;
  --black: #1d192b;
  --red: #dc362e;
  --darkRed: #410e0b;
  --lightRedPrimary: #f2b8b5;
  --lightRedSecundary: #f2b8b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conversor {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--red);
  border-radius: 5%;
  margin: 2rem auto;
  gap: 2rem;
  padding: 2rem;
}

img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 0.25rem;
}

h2 {
  color: var(--white);
  text-align: center;
}

button {
  background-color: var(--darkRed);
  border: none;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--white);
  transition: color 0.4s;
}

.converter:hover {
  background-color: var(--lightRedPrimary);
  color: var(--black);
  cursor: pointer;
}

.limpar:hover {
  background-color: var(--lightRedPrimary);
  color: var(--black);
  cursor: pointer;
}

body {
  background-color: var(--white);
}

h4 {
  color: var(--white);
}

input {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
  background-color: var(--lightRedSecundary);
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
}

input:focus {
  background-color: var(--white);
}

.unselectable {
  pointer-events: none;
}

@media screen and (max-width: 468px){
  .conversor {
    width: 22rem;
    padding: 1rem;
  }
}