.conversor{
    border: solid 1px;
    border-color: black;
    width: 400px;
    padding: 50px;
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-color: #1bce92;
    box-sizing: border-box;
    border-radius: 5%;
}
.borda{
    border-radius: 5%;
}
#sombra{
    text-shadow: black 1px 1px 1px,1px -1px 1px,-1px 1px 1px, -1px -1px 1px;
}
h2{
    color: brown;
    text-align: center;
}
.converter:hover{
    background-color: chocolate;
    color: beige;
    cursor: pointer;
}
.limpar:hover{
    background-color: chartreuse;
    color:beige;
    cursor: pointer;
}
body{
    background-color:rgba(190, 14, 146, 0.397);
}
h4{
    color: blueviolet;
}
.back{
    background-color: antiquewhite;
}