.conversor{
    border: solid;
    border-color: black;
    width: 400px;
    padding: 50px;
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    box-sizing: border-box;
}
h2{
    color: brown;
    text-align: center;
}
.converter:hover{
    background-color: chocolate;
    color: beige;
    cursor: pointer;
}
.limpar:hover{
    background-color: chartreuse;
    color:beige;
    cursor: pointer;
}
body{
    background-color:rgba(214, 123, 191, 0.397);
}
h4{
    color: blueviolet;
}
.back{
    background-color: antiquewhite;
}